<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="film content">
			<!-- Due to the validation in routes/films.js it should be impossible to
				get to this page if aFilm is empty/null, but I'm keeping this here as an
				extra precaution because if it happens somehow I don't want it to
				trigger an ejs error. -->
			<% if (aFilm.length > 0 || aFilm.includes(null)) var film = aFilm[0] %>
			<h2>(ID <%= film._id %>) Film:</h2>
			<br />
			<table id="film-table">
				<tbody>
					<tr>
						<th>Title</th>
						<th>Release Year</th>
						<th>Rating</th>
					</tr>
					<tr>
						<td><%= film.title %></td>
						<td><%= film.release_year %></td>
						<td><%= film.rating %></td>
					</tr>
				</tbody>
			</table>

			<br />
		</div>
	</body>
	<%- include('./partials/foot.ejs') %>
</html>
