<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="film content">
            <h2>Films:</h2>


        <div class="films content">
            <form action="/films" method="POST">
                <!-- ! PUT THIS INLINE HTML IN STYLE.CSS -->
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Release Year</th>
                        <th>Rating</th>
                        <th>Options</th>
                    </tr>
                        <% if (thefilms.length > 0) { %>
                            <% thefilms.forEach(film => { %>
                                <tr>
                                    <td><%= film.title %></td> <td><%= film.release_year %></td><td><%= film.rating %></td> 
                                    <td>
                                        <a href="/films/<%=film._id%>/edit?firstName=<%=film.first_name%>&lastName=<%=film.last_name%>">edit</a>
                                        <a href="/films/<%=film._id%>/delete?firstName=<%=film.first_name%>&lastName=<%=film.last_name%>">delete</a>
                                        <a href="/films/<%=film._id%>/replace?title=<%=film.title%>&releaseYear=<%=film.release_year%>&rating=<%=film.rating%>">replace</a>
                                    </td>
                                </tr>
                               <% }) %>
                               <% } %>
                    </tr>
                    
                </table>

            </br><label>Add film:</label></br>
            <label>Title:
                <input type="text" id="title" name="title" value="<%= locals.title %>" required>
            </label>
            <label>Release Year:
                <input type="text" id="release-year" name="releaseYear" value="<%= locals.releaseYear %>" required>
            </label>
            <label>Rating:
                <input type="text" id="rating" name="rating" value="<%= locals.rating %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>