<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="modify content">
            <form action="/films/<%= locals.id %>?_method=PUT" method="POST">
                <label>Replace Film Data:</br>
                    <input type="text" name="title" value="<%= locals.title %>" required>
                    <input type="text" name="releaseYear" value="<%= locals.releaseYear %>" required>
                    <input type="text" name="rating" value="<%= locals.rating %>" required>
                </label></br>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>